* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.map-header {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #333;
    background-color: #fff;
    margin: 0 auto;
    padding: 3rem 3rem 0 3rem;
    line-height: 145%;
}

.map-header h1 {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1rem;
}

.map-header p {
    font-size: 1rem;
    margin: 2rem auto;
    text-align: left;
    width: 45%;
    min-width: 500px;
}

.map-header p a {
    color: inherit;
}

.map-header p a:hover {
    color: #fdda24;
    text-decoration: underline;
}

.observablehq {
    text-align: center;
}

.observablehq form {
    justify-content: center;
}

.observablehq form button {
    font-size: 0.7rem;
    cursor: pointer;
    padding: 0.3rem 0;
    border: 1px solid #999;
    border-radius: 30px;
    color: #000;
    background-color: #f0f0f0;
}

.observablehq form output {
    color: #999;
    width: 150px;
    font-size: 1rem;
}

.observablehq form input {
    cursor: pointer;
}

.observablehq:not(.observablehq:nth-of-type(3), .observablehq:nth-of-type(1)) {
    display: none;
}