#headerCategory{
    display: flex;
}

.categoryColumn{
    width: 20rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.headerCategory{
    display: flex;
    justify-content: center;
    align-items: end;
}

.nameCategory{
    font-size: 2rem;
    margin-left: .5rem;
}

.linkMore{
    display: flex;
    justify-content: center;
    
}

.linkMore > a{
    font-size: 2rem;
}

.cardsCategory a{
    text-decoration: none;  
    color: #333333;

}

@media screen and (max-width: 1920px)  {
/*and (max-height:1080px)*/

    .categoryColumn{
        width: 20%;
    }

    .categoryColumn h4{
        font-size: 12px;
    }

    


}