.positiveVar{
    color:#25B5C0;
}

.negativeVar{
    color:red;
}

.subTitleIndicator{
    font-size: 10px;
    opacity: .5;
    cursor: pointer;
}

/*
td:nth-child(2n+3){
    padding-left:0%!important;
    
}

td:nth-child(2n+2){
    padding-right:0%!important;
    
}
*/