#Buscador_container-Home{
    display: flex;
    justify-content: center;
    margin-top: 0rem;
}

#topBarLooged-container_home{
    height: 5rem;
    position:relative
}

#historyCards_container{
    height: 32rem;
    /*background-color: blueviolet;*/
}

#categories_container-Home{
    height: 80rem;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
}

.subTitle{
    color:#255AA8;
}

.subTitle-container{
    display: flex;
    justify-content: center;
    margin: 4rem ;
    font-family: CircularStdBlack;
}

@media screen and (max-width: 600px){
    #Buscador_container-Home{
        margin-top: 2rem;
     }
    
}


@media screen and (max-width:300px){

 #Buscador_container-Home{
    margin-top: 1rem;
    /*background-color: red;*/
 }

  
    
}